.form {
	text-align: right;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	height: 55px;
	position: relative;

	div {
		p {
			margin-bottom: 0.5rem;
			position: absolute;
			bottom: -20px;
			width: max-content;
		}
	}

	> button {
		margin-left: 1rem;
	}

	&.disabled {
		> button {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}
