.stage {
	padding-top: 5rem;
	width: 100%;
	overflow: hidden;
	z-index: 0;

	.stage__image {
		object-fit: cover;
		// transform: rotateZ(-4deg) translateY(-4rem) translateX(-1rem);
		width: 100%;
	}
}
