.input__wrapper {
	display: flex;
	flex-direction: column;
	flex:1;
	font-size: small;

	> label{
		margin-bottom: 0.5rem;
	}
	
	> input {
		background-color: #fff;
		border-radius: 0.25rem;
		border: 1px solid #ccc;
		color: inherit;
		font-family: inherit;
		font-size: small;
		font-weight: inherit;
		padding: 0.5rem;
		transition: all 0.2s ease-in-out;
		width: 100%;
		margin-bottom: 1rem;
		
		&:focus {
			outline: none;
			border-color: #000;
		}
	}

	.error {
		color: #f00;
		font-size: small;
		margin-top: 0;
		margin-bottom: 1rem;
	}


	input + .error {
		margin-top: -1rem;
	}
}