.wrapper {
	display: flex;
	flex-direction: column;	

	> button:first-of-type {
		margin-bottom: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;

		img {
			margin-right: 1rem;
			width: 30px
		}
	}
}